<article>
  <div class="container">
    <div class="starter-template">
      <h3>Compose, then replicate</h3>
      <div>
	<p>Anywhere you use RPM packages today to deploy to client
	  systems, the rpm-ostree model allows you to optionally
	  pre-compose that package set on a server.  Client systems
	  then have an immutable OS, but with online and atomic
	  upgrades to newer versions.
	</p>
	<p>
	  This OSTree model sits somewhere between traditional package
	  systems and image-based updates.  For example, an OSTree
	  "tree" can be deployed on any Unix filesystem and block
	  storage layout.  Client systems can pull it, and incrementally
	  download updates online.
	</p>
	<p>
	  In this model, the RPM database lives
	  in <tt>/usr/share/rpm</tt>, and a compatibility symlink
	  from <tt>/var/lib/rpm</tt> allows rpm to still operate in
	  read-only mode.  You can <tt>rpm -q</tt> and determine what
	  packages are installed.
	</p>
      </div>
      <h3>Short Term Goal - Testing Rawhide</h3>
      <p>
	The Atomic Initiative will track Fedora Rawhide, assembling
	packages into filesystem trees, and offering them for
	replication by both human and machine consumers.
      </p>
      <p>
	Why machine consumers?  The very same rpm-ostree codebase
	actually
	contains <a href="http://wiki.qemu.org/KVM">qemu-kvm</a> based
	testing infrastructure.  It's designed to rapidly <i>boot</i>
	a new updated tree as a virtual guest, running arbitrary
	testing code, and pulling out telemetry such as log files for
	display.
      </p>
      <p>
	Concretely, the <a href="#build-status">build-status</a>
	results are <i>live</i> - the screenshots will change as the
	packages change, automatically.
      </p>
      <a class="btn btn-default" href="#composeui">Build status &raquo;</a>
      <h3>Short Term Goal - Merging RPM-OSTree into Fedora</h3>
      <p>
	While the core OSTree codebase is now fairly stable,
	rpm-ostree is undergoing rapid evolution.  The goal is for
	everything to be packaged, and to become a more integrated
	part of the Fedora Infrastructure.  At the moment,
	a <a href="http://lists.alioth.debian.org/pipermail/pkg-shadow-devel/2014-March/010099.html">patched
	version</a> shadow-utils is the only package not in Fedora.
      </p>
      <p>
	For more information on the <tt>/usr/lib/passwd</tt> issue, see
	<a href="https://lists.fedoraproject.org/pipermail/devel/2014-April/197783.html">fedora-devel-list thread</a>.
      </p>
      <a class="btn btn-default" href="#implementation">More implementation &raquo;</a>
    </div>
  </div>
</article>
