<article>
  <div class="container">
    <div class="starter-template">
      <h3>Getting involved</h3>
      <p>
	Please
	use <a href="https://lists.fedoraproject.org/mailman/listinfo/devel">fedora-devel-list</a>
	for most discussion relating to the Fedora Atomic Initative.
	Use
	the <a href="https://wiki.gnome.org/Projects/OSTree">OSTree</a> mailing list if you
	have questions about the core (independent of RPM or Fedora).
      </p>
      <p>
	For rpm-ostree, you can send patches to one of the lists
	above, or directly
	to <a href="mailto:walters@verbum.org">walters@verbum.org</a>.
	Github pull requests are OK as well.
      </p>
    </div>
  </div>
</article>
