<article>
  <div class="container">
    <div class="starter-template">
      <h3>Trying a preconfigured virtual machine</h3>
      <p>If you just want to experiment with a high degree of safety,
	virtual machines are a great way to do so (you can also use a
	spare bare metal machine, to do so see below).  For VMs, a
	recommended starting point is the latest release of
	the <tt>base/core</tt>.
      </p>
      <p><a class="btn btn-lg btn-primary" href="http://rpm-ostree.cloud.fedoraproject.org/images/releases">Download release disks</a></p>
      <p>
	For example, you can download and uncompress as one step into
	virt-manager's <tt>images</tt> directory by:
	<pre>
	  cd /var/lib/libvirt/images
	  curl http://rpm-ostree.cloud.fedoraproject.org/images/releases/2014.5/fedora-atomic-rawhide-x86_64-buildmaster-base-core-2014.5.qcow2.xz | xz -d > fedora-atomic-base-core.qcow2
	</pre>
	Then using e.g. <tt>virt-manager</tt>, choose "Import existing disk image".
      </p>
      <p>There are also automatically and continuously generated VM
	images for each tree in
	the <a href="http://rpm-ostree.cloud.fedoraproject.org/images/auto">images/auto</a>
	directory.</p>
      <h3>Installing inside an existing OS</h3>
      <p>First, you should understand what you'll be doing here.  OSTree
	allows dynamically parallel installing operating systems;
	(almost) all of its data goes in the new toplevel
	directory <tt>/ostree</tt>.  At the end you will have a dual
	boot.
      </p>
      <p>These instructions are oriented for users of Fedora, but OSTree
	itself can be packaged and used on top of any existing GNU/Linux
	distribution.</p>
      <p>Install the ostree package, and make sure you have ostree 2014.1
	or newer (presently in Bodhi updates-testing).</p>
      <pre>
	yum install ostree
      </pre>
      <p>
	This bit of one time initialization will both
	create <tt>/ostree</tt> for you, as well
	as <tt>/ostree/deploy/fedora-atomic</tt>.  Only a few directories are
	created, we haven't really affected the system much yet.
      </p>
      <pre>
	ostree admin os-init fedora-atomic 
      </pre>
      <p>This step tells OSTree how to find the repository you built on
	the server.  You only need to do this once.</p>
      <pre>
	ostree remote add fedora-atomic http://rpm-ostree.cloud.fedoraproject.org/repo
      </pre>
      <p>Now, the trees you'll be downloading are GPG signed.  You can install the GPG key from the
	<a href="http://copr-fe.cloud.fedoraproject.org/coprs/walters/rpm-ostree/">walters/rpm-ostree</a>
	COPR.  The package name is <tt>rpm-ostree-public-gpg-key</tt>.
      </p>
      <p>We still have only initialized configuration.  This next step
	will just download (but not install) a system with just <tt>@core</tt>:</p>
      <pre>
	ostree pull fedora-atomic fedora-atomic/rawhide/x86_64/buildmaster/base/core
      </pre>
      <p>This step extracts the root filesystem, and updates the bootloader
	configuration:</p>
      <pre>
	ostree admin deploy --os=fedora-atomic --karg-proc-cmdline fedora-atomic:fedora-atomic/rawhide/x86_64/buildmaster/base/core
      </pre>
      <p>Now, we need to copy in the storage configuration from the "host":</p>
      <pre>
	cp /etc/fstab /ostree/deploy/fedora-atomic/current/etc
      </pre>
      <h3 id="booting">Booting the system</h3>
      <p>Your system now contains <b>both</b> a traditional Fedora install
	and an OSTree root.  There is no impact on your installed system
	except for additional disk space in the <tt>/boot/loader</tt> and <tt>/ostree</tt>
	directories.
      </p>
      <p>At the GRUB prompt, instead of choosing one of the two listed
	entries, press <tt>c</tt> to get a command line.  Now, enter:</p>
      <pre>
	bls_import
      </pre>
      <p>Then press <tt>Esc</tt>.  You should have an additional boot menu entry,
	named <tt>ostree:fedora:0</tt>.  Nagivate to it and press <tt>Enter</tt>.</p>
      
      <p>Log in to the VM as <b>root</b> - there is no password.</p>
    </div>
  </div>
</article>
