<article>
  <h1>I am using an OSTree system, now what?</h1>
  <p>
    The first command you should learn as an administrator of an
    OSTree-based system is <tt>ostree admin upgrade</tt>.  This will
    perform an atomic upgrade to the latest version of your current
    tree.
  </p>
  <p>Although <tt>yum</tt> is installed, it will operate in read-only
     mode.  Do not attempt to use it at the moment.  See the section
     on the homepage "Development area: Local package assembly".</p>

  <p>But with OSTree, it's possible to atomically transition between
    different complete bootable filesystem trees.  Let's now try the
    <tt>server/jbossas</tt> tree:</p>
<pre>
	ostree pull fedostree fedostree/20/x86_64/server/jbossas
</pre>
  <p>If you look at the <a href="https://github.com/cgwalters/rpm-ostree/blob/master/fedostree/products.json">products.json</a> script
    you can see this tree does not have <tt>docker-io</tt>, but does have the <tt>@jbossas</tt> comps group.</p>
  <p>Like above, let's now deploy it:</p>
  <pre>
	ostree admin deploy --os=fedostree fedostree:fedostree/20/x86_64/server/jbossas
	systemctl reboot
  </pre>
  <p>After you reboot, note two things.  First, you'll have <i>two</i>
    OSTree boot entries.  That's because our previous <tt>minimal</tt>
    tree is still there.  Choose the first OSTree boot entry.  When you
    boot into this tree, note that you'll have
    a <tt>/usr/bin/docker</tt> binary.  We have successfully atomically
    transitioned to a new filesystem tree.
  </p>
  <p>Why the triple specification of "fedostree"?  First, OSTree
    allows arbitrarily named "OS"es which have independent /var.  You
    could have two deployments of the same tree, say
    "feostree-testing" and "fedostree".  Second, "fedostree" is the
    name of the remote.  Third, a naming convention for refs includes
    an OS name prefix at the front, here "fedostree".  Some or all of
    these may be different.
  </p>
</article>
