<article>
  <div class="container">
    <div class="starter-template">
      <h3>Running custom rpm-ostree repositories</h3>
      <p>
	You can use rpm-ostree inside your organization's firewall to
	reliably deploy custom operating systems to a plain bare metal
	server farm, mobile laptops, or cloud guests, and have them
	efficiently upgrade while preserving state.
      </p>
      <p>In this model, you will be using Fedora's RPM content as a
	basis, add in any custom repositories you want, and assembling
	that content using rpm-ostree on an internal build server.  You
	will also need either your own GPG key, or rely on TLS/SSL for
	transport integrity.
      </p>
      <h3>Getting started</h3>
      <p>See <a href="https://github.com/cgwalters/rpm-ostree/blob/master/README.md">rpm-ostree/README.md</a>.</p>
      <h3>Provisioning and configuring for upgrades</h3>
      <p>
	Once this is done, you will need to take care of installing
	the tree onto target systems.  At the moment, there is no
	support yet in Anaconda for OSTree.  But you can do a regular
	install, then install your tree <i>inside</i> that running
	system, then delete the leftover OS.
      </p>
      <p>
	Now, if you've configured <tt>/ostree/repo/config</tt> on the
	clients to point to your build server, you just need to ensure
	they upgrade via whatever frequency you want.  Expect
	integration with PackageKit in the future - but for now, a
	cron job that runs <tt>ostree admin upgrade && systemctl
	  reboot</tt> is a low tech but reliable way to do this.</p>
    </div>
  </div>
</article>
