#!/bin/sh

export OUTPUTDIR=${OUTPUTDIR:-/srv/output}
export WORKDIR=$(pwd)
export SRCDIR=$(dirname $0)/../

export OSTREE_REPO=${OUTPUTDIR}/repo

export RPMOSTREE_CACHEDIR=${WORKDIR}/cache

export OSNAME=fedora-atomic
export TREEFILE=${OSNAME}-${TREENAME}.json
export OS_PRETTY_NAME="Fedora Atomic"
export TREENAME=docker-host
export ARCH=x86_64
export RELEASE=rawhide

# YUM_BASEURL=
# LOCAL_OVERRIDES=

export REF=${OSNAME}/${RELEASE}/${ARCH}/${TREENAME}
